/ABOUT-NLS
/INSTALL
/autom4te.cache
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.rpath
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/m4
/po/*.gmo
/po/Makefile.in.in
/po/Makevars.template
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/polkit-pkla-compat.pot
/po/remove-potcdate.sin
/test/mocklibc/INSTALL
/test/mocklibc/aclocal.m4
/test/mocklibc/autom4te.cache
/test/mocklibc/config.guess
/test/mocklibc/config.h.in
/test/mocklibc/config.sub
/test/mocklibc/configure
/test/mocklibc/depcomp
/test/mocklibc/install-sh
/test/mocklibc/ltmain.sh
/test/mocklibc/missing
Makefile.in
*~