/ABOUT-NLS
/INSTALL
/autom4te.cache
/aclocal.m4
/admin
/config.h.in
/configure
/m4
/po/*.gmo
/po/Makefile.in.in
/po/Makevars.template
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/polkit-pkla-compat.pot
/po/remove-potcdate.sin
/test/mocklibc/INSTALL
/test/mocklibc/aclocal.m4
/test/mocklibc/autom4te.cache
/test/mocklibc/config.h.in
/test/mocklibc/configure
Makefile.in
*~